* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500;600&family=Rubik:wght@400;500;600;700&display=swap');

title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: white;
}

h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: white;
}

h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: white;
}

h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: white;

}

h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

h6 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

p {
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: white;
}